.bg {
  text-align: center;
  height: 100vh;
}

#fb-btn {
  margin-top: 30%;
  width: 40%;

}

.results {
  text-align: center;
  margin: 80px auto;
  width: 480px;
}

.question {
  margin-top: 50px;
}
