.bg {
  text-align: center;
  height: 100vh;
}

#fb-btn {
  margin-top: 50px;
  width: 40%;
}

#round {
  width: 70px;
}

#loading {
  display: block;
  visibility: hidden;
  width: 300px;
  margin: 20px auto;
}

.results {
  text-align: center;
  margin: 80px auto;
  width: 480px;
}

.question {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
}

#share-btn {
  width: 300px;
  margin: 0px auto;
  display: block;
}

#score {
  font-weight: 900;
}

#sabi {
  color: red;
}
